################################
## White list based gitignore ##
################################

# forbidden
*
.*

# allowed
!AudioToText/
!AudioAnalysis/
!.gitignore
!.gitattributes
!*.md
!*.ipynb
!*.py
!*.sh
